<!--
//*****************************************************************************
//	システム名　　　：インシデント管理システム
//	サブシステム名　：
//	画面名　　　　　：ファイル画面
//	作成日付・作成者：2018.02.24 ADF)S.Yoshida
//	修正履歴　　　　：
//*****************************************************************************
-->
<common-modal #fileCommon (commonEnter)="fileDelete()"></common-modal>
<common-modal #errorModal (commonClose)="findFileList()"></common-modal>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div *ngFor="let data of fileList">
      <div>
        <a (click)="fileCheck(data?.fileId)">
          <u>
            <i class="fa fa-file"></i>&nbsp;{{data?.fsvrNm}}</u>
        </a>
        &nbsp;
        <button type="button" class="btn btn-sx-ori btn-danger btn-close" *ngIf="deleteShow" (click)="setDeleteFileId(data?.fileId);fileCommon.openModal('確認','ファイルを削除します。宜しいですか？','OK','キャンセル')">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<form id="frm" method="post" action="">
  <input type='hidden' id="dlFileId" name='fileId' value=''>
</form>