<!--
//*****************************************************************************
//	システム名　　　：インシデント管理システム
//	サブシステム名　：
//	画面名　　　　　：関係者追加モーダル部品
//	作成日付・作成者：2017.12.08 ADF)S.Yoshida
//	修正履歴　　　　：
//*****************************************************************************
-->
<loading [loading]="isLoading"></loading>
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title pull-left">
          <strong>関係者の追加</strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="template.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transition-button text-right">
              <button type="button"  class="btn btn-danger btn-mini" (click)="clearUserSearch()">
                リセット
              </button>
              <button type="button" class="btn btn-danger btn-mini" (click)="search()">
                <i class="fa fa-search"></i> 検索
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 label-padding">
              <div class="row">
                <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 bg-warning text-center input-label">
                  氏名(姓)
                </label>
              </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-5">
              <input name="searchUserLastNm" type="text" class="form-control" [(ngModel)]="searchUserLastNm">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 label-padding">
              <div class="row">
                <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 bg-warning text-center input-label">
                  氏名(名)
                </label>
              </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-5">
              <input name="searchUserFirstNm" type="text" class="form-control" [(ngModel)]="searchUserFirstNm">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 label-padding">
              <div class="row">
                <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 bg-warning text-center input-label">
                  部署名
                </label>
              </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-5">
              <input name="searchSectionNm" type="text" class="form-control" [(ngModel)]="searchSectionNm">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 label-padding">
              <div class="row">
                <label class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 bg-warning text-center input-label">
                  職制コード
                </label>
              </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-5">
              <input name="searchSectionCd" type="text" class="form-control" [(ngModel)]="searchSectionCd">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-result-info">
              検索結果：　{{bigTotalItems}}件
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-8">
              <pagination name="paging1" [boundaryLinks]="true" [totalItems]="bigTotalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage"
                class="pagination-sm" [rotate]="false" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (click)="pageChanged($event)"></pagination>
            </div>
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-lg-2 col-md-2 col-sm-3 col-xs-4">
              <input name="itemperPage" [(ngModel)]="itemsPerPage" type="text" class="itemsPerPage" (input)="pageChanged()"> 件/頁
            </div>
          </div>

          <div class="row" id="search-list">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="panel">
                <table class="table table-striped list-table">
                  <thead>
                    <tr>
                      <th class="table-header-list"></th>
                      <th class="table-header-list">氏名</th>
                      <th class="table-header-list">メールアドレス</th>
                      <th class="table-header-list">役職</th>
                      <th class="table-header-list">部署名</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of userList | slice: start: end">
                      <td class="code-list">
                        <button type="button" class="btn btn-danger btn-mini" (click)="onSelect(data?.userId, data?.userNm, data?.sectionCd, data?.sectionNm)">
                          追加
                        </button>
                      </td>
                      <td class="char-list">{{data.userNm}}</td>
                      <td class="char-list">{{data.mail}}</td>
                      <td class="char-list">{{data.postNm}}</td>
                      <td class="char-list">{{data.sectionNm}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-8">
              <pagination name="paging2" [boundaryLinks]="true" [totalItems]="bigTotalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage"
                class="pagination-sm" [rotate]="false" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (click)="pageChanged($event)"></pagination>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #second="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title pull-left">
          <strong>{{headerStr}}</strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="second.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 common-mes">
            {{mes}}
          </div>
        </div>

        <div class="row" [class.common-enter-btn-show]="enterBtnShow" [class.common-enter-btn-hide]="!enterBtnShow">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 transition-button common-btn-group">
            <button type="button" class="btn btn-danger common-btn" (click)="enter()">
              {{enterBtnStr}}
            </button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 transition-button common-btn-group">
            <button type="button" class="btn btn-danger common-btn" (click)="second.hide()">
              {{closeBtnStr}}
            </button>
          </div>
        </div>

        <div class="row" [class.common-enter-btn-show]="!enterBtnShow" [class.common-enter-btn-hide]="enterBtnShow">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 transition-button common-btn-group">
            <button type="button" class="btn btn-danger common-btn" (click)="second.hide()">
              {{closeBtnStr}}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>